$neutral100: #FFFFFF;
$neutral200: #EBEBF52E;
$neutral300: #EBEBF54D;
$neutral400: #F2F2F7;
$neutral500: #EBEBF599;
$neutral600: #3C3C432E;
$neutral700: #C6C6C8;
$neutral800: #3C3C434D;
$neutral900: #3C3C4399;
$neutral950: #38383A;
$neutral1000: #2C2C2E;
$neutral1100: #1C1C1E;
$neutral1200: #000000;

$brand100: #E3F8FC;
$brand500: #40B5CF;
$brand900: #266F80;

$red100: #FCE3E3;
$red500: #E84848;
$red900: #731D1D;

$fontWeightSemiBold: 600;
$fontWeightRegular: 400;

$borderRadius100: 2px;
$borderRadius200: 4px;
$borderRadius300: 6px;
$borderRadius400: 8px;
$borderRadius500: 10px;
$borderRadius600: 15px;
$borderRadius700: 20px;
$borderRadius800: 50%;

$lightSeparator: $neutral800;
$lightError: $red500;

$lightLabel2: $neutral900;

$lightSuccess: #46E385;

$good: #368b4b;

$lightBackground: $neutral100;
$lightBackground2: $neutral400;
$lightSeparatorOpaque: $neutral700;
$lightLabel2: $neutral900;

$green1: #40B5CF;
$green2: #34A9C3;
$green3: #11687c;

